@media all {

  body {
    background-color: #fff;
    color: #111;
    font-family: serif;
    font-size: 125%;
    font-style: normal;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 32em;
    -webkit-font-smoothing: antialiased;
  }

  a {
    text-decoration: none;
  }


  .navigation {
    color: #555;
  }

  .navigation a {
    color: #555;
    text-decoration: none;
  }

  .navigation ul {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .navigation li {
    display: block;
    float: left;
    list-style: none;
    padding: 0 0.5em;
    text-align: center;
  }

  #site-navigation {
    margin-top: 0.25em;
  }

  #site-navigation ul {
    float: left;
  }

  #site-navigation form {
    border: 0;
    float: right;
    font-size: .95em;
    line-height: 1.2em;
    margin: 0;
    padding: 0 0.5em;
  }

  #site-navigation fieldset[role="search"] {
    border: 0;
    margin: 0;
    padding: 0;
  }

  #site-navigation input.search {
    color: #555;
    font-size: 90%;
    width: 10em;
  }


  h1,  h1 a, h1 a:visited,
  h2,  h2 a, h2 a:visited,
  h3,  h3 a, h3 a:visited {
    color: #000;
    font-weight: normal;
    margin: 0;
    text-decoration: none;
  }

  #site-header h1 {
    border-bottom: 1px solid #000;
    font-size: 2.5em;
    padding-bottom: 0.75em;
    padding-top: 1.5em;
    text-align: center;
  }

  .entry-header h1 {
    font-size: 2em;
  }

  .entry-meta {
    color: #555;
    font-size: 0.75em;
  }


  .main-content {
    padding: 2em 0.5em;
  }

  .figimg {
    height: auto;
    margin: 0 auto;
    max-width: 90%;
  }

  .figimg img {
    height: auto;
    max-width: 100%;
  }

  .lte-ie8 img {
    width: auto;
  }

  .figimg figcaption {
    color: #555;
    font-size: 0.75em;
    line-height: 1.1em;
  }

  .entry-separator {
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    text-align: center;
  }


  #post-navigation {
    font-size: 0.9em;
    line-height: 1.1em;
    position: relative;
    text-align: center;
  }

  #post-navigation .previous {
    left: 0;
    position: absolute;
    text-align: left;
    width: 40%;
  }

  #post-navigation .next {
    position: absolute;
    right: 0;
    text-align: right;
    width: 40%;
  }


  #site-footer {
    border-top: 1px solid #000;
    font-size: 0.75em;
    padding-bottom: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 1em;
  }

  #site-footer p {
    line-height: 1.1em;
    margin: 0;
  }

  #site-license-image {
    float: left;
    margin-right: 1em;
  }

  #site-license-image img {
    border-width: 0;
    height: 31px;
    width: 88px;
  }
}
