{% include head.html %}
{% include site-header.html %}

{{ content }}
  <section class="post-index main-content" role="main">
    {% for post in site.posts limit:page.max_number_of_posts %}
    <article class="entry">
      <header class="entry-header">
        <h1 class="entry-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
      </header>

{{ post.content }}
      <div class="entry-footer meta">
        <a href="{{ post.url }}">∞ {% include post/pubdate.html datetime=post.date format="%Y-%m-%d" %}</a>
      </div>
    </article>
    {% endfor %}

    <div class="pagination">
      <a href="/b/all">All posts are available in the archive...</a>
    </div>
  </section>

{% include site-footer.html %}
{% include tail.html %}
