{% include head.html %}
{% include site-header.html %}

  <section class="main-content">
    <article class="entry" role="main">
      <header class="entry-header">
        <h1 class="entry-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <p class="entry-meta">{% include post/pubdate.html datetime=page.date format="%Y-%m-%d %H:%M" %}</p>
      </header> <!-- .entry-header -->

{{ content }}
    </article><!-- .entry -->

    {% include entry-separator.html %}

    <div id="post-navigation" class="navigation">
      <ul>
        {% if page.previous %}<li class="previous"><a href="{{ page.previous.url }}" title="Previous post: {{ page.previous.title }}">« {{page.previous.title}}</a></li>{% endif %}
        <li><a href="/archive">Archive</a></li>
        {% if page.next %}<li class="next"><a href="{{ page.next.url }}" title="Next post: {{ page.next.title }}">{{page.next.title}} »</a></li>{% endif %}
      </ul>
    </div><!-- #post-navigation .navigation -->

  </section><!-- .main-content -->

{% include site-footer.html %}
{% include tail.html %}
