{% include head.html %}
  <div id="single-entry">
    <article class="entry">
      <header class="entry-header">
        <h2 class="entry-title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
        <p class="entry-meta">{% capture datetime %}{{ page.date }}{% endcapture %}{% include post/datetime.html %}</p>
      </header> <!-- .entry-header -->
      <div class="entry-content">

{{ content }}
      </div><!-- .entry-content -->
    </article><!-- .entry -->

    <div class="entry-separator">· – · – ·</div>

  </div><!-- .single-entry -->

{% include footer.html %}
